body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#pulled-card {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #6a4c93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e6ecf;
}

#description-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff3f8;
    border: 1px solid #e0a6db;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#description-box h3 {
    margin: 0 0 10px;
    color: #6a4c93;
}

#description-box p {
    color: #333;
    font-size: 1.1em;
}
.card-image {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border: 3px solid gold;
  border-radius: 10px;
}
.background {
    width: 1500px;
    height: 1500px
    background-color: #000000;
    z-index: -1; 
}
